{% extends 'xproject/base.html' %}
{% block title %} 设备信息 {% endblock %}
{% block tag %} 设备管理 {% endblock %}
{% block content %}
<div class="guo-subclass" style="width:99%;left:1%;">
    <h1><a href="#" >设备管理</a></h1>
</div>
<div class="guo-sou-1" style="left:1%;">
    <div class="guo-sou-3">
        <form method="post" action="{% url 'xproject:DeviceInf_ajax'%}">
            {% csrf_token %}
            <label>设备识别码</label>
            	<input type="text" name="Eey" value="" class="guo-input-1" id="Eey_guo_ajax">
            <label>设备ID</label>
            <input type="text" name="DeviceID" value="" class="guo-input-1" id="DeviceID_guo_ajax">
            <label>设备注册时间</label>
                <input type="date" name="RegTimes" value="" class="guo-input-2" id="RegTimes_guo_ajax">
            <!--<label>用户权限</label>-->
            <!--<select name="Jurisdiction" class="guo-select-1" id="Jurisdiction_guo_ajax">-->
                <!--<option value="">-&#45;&#45;&#45;&#45;</option>-->
                <!--<option value="administrator">管理员</option>-->
                <!--<option value="member">会员</option>-->
            <!--</select>-->
			<label>商家名称</label>
				<input type="text" name="Organizationname" value="" class="guo-input-1" id="Organizationname_guo_ajaxs">
            <button type="button" id="guo-equipment-ajax" style="width:5%;" data-action="{% url 'xproject:DeviceInf_ajax'%}">搜索</button>
        </form>
    </div>
</div>
<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<table id="simple-table" class="table  table-bordered table-hover">
											<thead>
												<tr>
													<th class="center" style="width:5%;">
														<label class="pos-rel">
															<input type="checkbox" class="ace" />
															<span class="lbl"></span>
														</label>
													</th>
													<th class="detail-col" style="width:4%;">序号</th>
													<th style="width:12%;">设备ID</th>
													<th style="width:12%;">所属商家</th>
													<th class="hidden-480" style="width:15%;">设备注册时间</th>

													<th class="guo-size-1" style="width:15%;">
														<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
														最后使用时间
													</th>
													<th class="hidden-480 guo-size-1" style="width:10%;">使用次数</th>

													<th class="guo-size-1"></th>
												</tr>
											</thead>
											{% if members %}
											{% for member in members %}
											<tbody>

												<tr>
													<td class="center">
														<label class="pos-rel">
															<input type="checkbox" class="ace" />
															<span class="lbl"></span>
														</label>
													</td>

													<td class="center">{{ member.id }}
													</td>

													<td>
														<a href="#">{{ member.DeviceID }}</a>
													</td>
													<td>{{ member.organization.cname }}</td>

													<td class="hidden-480">{{ member.RegTimes|date:'Y-m-d H:i' }}</td>
													<td>{{ member.endtime|date:'Y-m-d H:i'}}</td>

													<td class="hidden-480">
														{{ member.count }}次
													</td>

													<td>
														<div class="hidden-sm hidden-xs btn-group">
															<a class="ace-icon fa fa-check bigger-120"  href="{% url 'xproject:Member_user' member.id %}">
																<button class="btn btn-xs btn-success" type="submit">
																查看详细信息
																</button>
															</a>
															<a class="ace-icon fa fa-pencil bigger-120" href="{}">
																<button class="btn btn-xs btn-info" type="submit">
																编辑
																</button>
															</a>
														</div>
													</td>
												</tr>
											</tbody>
											{% endfor %}
											{% endif %}
										</table>

									</div>
								</div>
									</div><!-- /.span -->
								</div><!-- /.row -->

{% endblock %}