{% extends 'xproject/base.html' %}
{% block title %} 用户信息 {% endblock %}
{% block tag %} 会员管理 {% endblock %}
{% block content %}
<div class="guo-subclass" style="width:99%;left:1%;">
    <h1><a href="#" >会员管理</a></h1>
</div>
<div class="guo-sou-1" style="left:1%;">
    <div class="guo-sou-3">
        <form method="post" action="{% url 'xproject:transaction'%}">
            {% csrf_token %}
            <label>用户名</label>
            <input type="text" name="name" value="" class="guo-input-1" id="name_guo_ajax">
            <label>用户ID</label>
            <input type="text" name="nameID" value="" class="guo-input-1" id="nameID_guo_ajax">
            <label>用户注册时间</label>
                <input type="date" name="registertime" value="" class="guo-input-2" id="registertime_guo_ajax">
            <label>用户权限</label>
            <select name="Jurisdiction" class="guo-select-1" id="Jurisdiction_guo_ajax">
                <option value="">-----</option>
                <option value="administrator">管理员</option>
                <option value="member">会员</option>
            </select>
            <button type="button" id="guo-user-ajax" style="width:5%;" data-action="{% url 'xproject:Member_ajax'%}">搜索</button>
        </form>
    </div>
</div>
<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<table id="simple-table" class="table  table-bordered table-hover">
											<thead>
												<tr>
													<th class="center" style="width:5%;">
														<label class="pos-rel">
															<input type="checkbox" class="ace" />
															<span class="lbl"></span>
														</label>
													</th>
													<th class="detail-col" style="width:4%;">序号</th>
													<th style="width:12%;">用户名</th>
													<th style="width:12%;">用户权限</th>
													<th class="hidden-480" style="width:15%;">注册时间</th>

													<th class="guo-size-1" style="width:15%;">
														<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
														最后登录时间
													</th>
													<th class="hidden-480 guo-size-1" style="width:10%;">Status</th>

													<th class="guo-size-1"></th>
												</tr>
											</thead>
											{% for member in members %}
											<tbody>

												<tr>
													<td class="center">
														<label class="pos-rel">
															<input type="checkbox" class="ace" />
															<span class="lbl"></span>
														</label>
													</td>

													<td class="center">{{ member.id }}
													</td>

													<td>
														<a href="#">{{ member.username }}</a>
													</td>
													{% if member.is_superuser %}
														<td>管理员</td>
													{% else %}
														<td>会员</td>
													{% endif %}
													<td class="hidden-480">{{ member.date_joined|date:'Y-m-d H:m' }}</td>
													<td>{{ member.last_login|date:'Y-m-d H:m'}}</td>

													<td class="hidden-480">
														{% if member.is_authenticated %}
															<span class="label label-sm label-warning">在线</span>
														{% else %}
															<span class="label label-sm label-warning">离线</span>
														{% endif %}
													</td>

													<td>
														<div class="hidden-sm hidden-xs btn-group">
															<a class="ace-icon fa fa-check bigger-120"  href="{% url 'xproject:Member_user' member.id %}">
																<button class="btn btn-xs btn-success" type="submit">
																查看详细信息
																</button>
															</a>
															<a class="ace-icon fa fa-pencil bigger-120" href="{}">
																<button class="btn btn-xs btn-info" type="submit">
																编辑
																</button>
															</a>
														</div>
													</td>
												</tr>
											</tbody>
											{% endfor %}
										</table>

									</div>
								</div>
									</div><!-- /.span -->
								</div><!-- /.row -->

{% endblock %}